<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>9089286351-du2qn588mjng64efm5d2qhc97tm56gi2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9089286351-du2qn588mjng64efm5d2qhc97tm56gi2</string>
	<key>API_KEY</key>
	<string>AIzaSyCV4CTFkJS85-R7daHl0hGfwqvEHgseGXo</string>
	<key>GCM_SENDER_ID</key>
	<string>9089286351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sleepapp.APNDemo</string>
	<key>PROJECT_ID</key>
	<string>apndemo-f1dd0</string>
	<key>STORAGE_BUCKET</key>
	<string>apndemo-f1dd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9089286351:ios:40b9652c355585fd</string>
	<key>DATABASE_URL</key>
	<string>https://apndemo-f1dd0.firebaseio.com</string>
</dict>
</plist>